.title{   
    position: absolute;
    left: 3.25%;
    right: 3.77%;
    top: 35.31%;
    bottom: 55.62%;

    font-family: 'Visby CF';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 42px;

    color: #FFFFFF;
}